<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
	
    <extensions>
      <behaviorExtensions>
        <add name="NewExtensionName" type="&#xA;True" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <basicHttpsBinding>
        <binding name="NewBinding0" openTimeout="01:50:00" receiveTimeout="01:50:00" 
				 sendTimeout="01:50:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpsBinding>
    </bindings>

    <services>
      <service name="WCFServiceFastFood.FastFoodService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceFastFood.IFastFoodService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServiceFastFood/FastFoodService/mex/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFServiceFastFood.UserService">
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceFastFood.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServiceFastFood/UserService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFServiceFastFood.WedMVC">
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceFastFood.IWedMVC">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServiceFastFood/WedMVC/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFServiceFastFood.WF.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceFastFood.WF.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServiceFastFood.WF/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFServiceFastFood.WF.WindownForm">
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceFastFood.WF.IWindownForm">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServiceFastFood.WF/WindownForm/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFServiceFastFood.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceFastFood.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServiceFastFood/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
	  
	  
	  
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
	  
  <add name="FastFoodEntities" connectionString="metadata=res://*/ModelFastFood.csdl|res://*/ModelFastFood.ssdl|res://*/ModelFastFood.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LONG\SQLEXPRESS;initial catalog=FastFood;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

</configuration>