<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFastFoodService" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="2147483647" bypassProxyOnLocal="false"/>
			
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFServiceFastFood/FastFoodService/mex/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFastFoodService"
                contract="FastFoddService.IFastFoodService" name="BasicHttpBinding_IFastFoodService" />
        </client>
		
    </system.serviceModel>
</configuration>