<div style="margin-top:-370%;float:left; margin-left:30px;">
    <a href="MyCart/ViewMyCart">
        <img src="~/Images/Layout/iconCartColor2.jpg">
        </a>
    <img src="../../../Images/Layout/iconCartColor2.jpg">
    <img src="~/Images/Layout/iconCartColor2.jpg">
    <p>______Đây là cái giỏ hàng______</p>
</div>
<img src="../../../Images/Layout/iconCartColor2.jpg">
<img src="~/Images/Layout/iconCartColor2.jpg">